$text: #222;
$background: #FFFFFF;
$ul-dark-blue: #676f7c;
$navbar-background: #2f3f4b;
$purple: #542e68;
$gold: #ffbc49;
$pink: #ffb7c5;

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
}

//****NAVBAR******************************//
.nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: $purple;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    img {
      max-height: 120px;
    }
  }
}
//*********************************************//


//****WELCOME PAGE******************************//
.welcome-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ), url(grant-mccurdy-20366.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .login-register {
    background-color: rgba(0, 0, 0, 0.5);
    color: $gold;
    padding-top: 140px;
    padding-bottom: 50px;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 10px;
    .fake-button {
      color: $pink;
      margin-bottom: 20px;
    }
    .description {
      text-transform: none;
      width: 50%;
      margin: 0 auto;
      text-align: left;
    }
    .fake-button > span:hover {
      color: $gold;
      cursor: pointer;
      padding: 6px;
      background-color: rgba(255, 255, 255, 0.3);
    }
    .welcome-buttons {
      width: 50%;
      margin: 0 auto;
      .login-btn {
        display: inline-block;
        padding: 0 15px;
      }
    }
  }
}
//******************************************//

// .login-btn {
//   display: block;
//   width: 70%;
//   margin: 10px auto;
// }

//****REGISTRATION FORM*****************************//

.registration-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 200px 50px;
  margin: 150px auto 0 auto;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  h1 {
    grid-column: 2 / 12;
  }
  .text-fields {
    grid-column: 2 / 11;
  }
  .signup-btn {
    align-self: end;
    grid-row-start: 3;
    grid-column-start: 2;
  }
  .back-btn {
    align-self: end;
    grid-row-start: 3;
    grid-column: 3 / 4;
  }
}

.coach-registration {
  width: 500px;
}

.player-registration {
  width: 750px;
}
//******************************************//
