$text: #222;
$background: #FFFFFF;
$ul-dark-blue: #676f7c;
$navbar-background: #2f3f4b;
$purple: #542e68;
$gold: #ffbc49;
$pink: #ffb7c5;

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", sans-serif;
}

//****NAVBAR******************************//
.nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: $purple;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    img {
      max-height: 120px;
    }
  }
  .logout-btn {
    color: $gold;
    float: right;
    margin: 50px 20px 0 0;
    font-size: 20px;
    font-weight: bold;
  }
  .logout-btn:hover {
    cursor: pointer;
    color: $pink;
  }
}
//*********************************************//


//****WELCOME PAGE******************************//
.welcome-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ), url(grant-mccurdy-20366.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .login-register {
    background-color: rgba(0, 0, 0, 0.5);
    color: $gold;
    padding-top: 140px;
    padding-bottom: 50px;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 10px;
    .fake-button {
      color: $pink;
      margin-bottom: 20px;
    }
    .description {
      text-transform: none;
      width: 50%;
      margin: 0 auto;
      text-align: left;
    }
    .fake-button > span:hover {
      color: $gold;
      cursor: pointer;
      padding: 6px;
      background-color: rgba(255, 255, 255, 0.3);
    }
    .welcome-buttons {
      width: 50%;
      margin: 0 auto;
      .login-btn {
        display: inline-block;
        padding: 0 15px;
      }
    }
  }
}
//******************************************//

//****REGISTRATION FORM*****************************//

.registration-form {
  margin: 150px auto 0 auto;
  padding: 35px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  .btns {
    margin-top: 25px;
  }
}

.coach-registration {
  width: 500px;
}

.player-registration {
  text-align: left;
  width: 750px;
  .signup-btns {
    margin-top: 25px;
  }
  .span-labels {
    color: #aaa;
  }
}
//******************************************//

//****PLAYERS LIST*****************************//

.players-list {
  width: 80%;
  margin: 150px auto 0 auto;
  padding: 35px;

}
//**************************************************//


//****NEW MESSAGE*****************************//
.new-message {
  width: 50%;
  margin: 150px auto 0 auto;
  padding: 35px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
//**************************************************//

//****MY MESSAGES*****************************//
.my-messages {
  width: 75%;
  margin: 150px auto 0 auto;
  padding: 35px;
  .msg-previews {
    .active {
      background-color: rgba(255, 183, 197, 0.6) !important;
    }
  }
  .msg-previews:hover {
    cursor: pointer;
  }
  .message-container {
    padding: 0 15px 15px 15px;
    .messages {
      padding: 10px;
      height: 57vh !important;
      overflow: auto;
      display: flex;
      flex-direction: column-reverse;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      .sender-datetime {
        color: #aaa;
      }
      .text-input {
        width: 100%;
      }
      .japanese-text {
        color: $gold;
      }
    }
  }

}

//**************************************************//
